*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
.vscode
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/

android/build
android/app/build
android/.gradle
android/.idea
android/theoplayer/build
*.iml

ios/TheoPlayerReactNative.xcodeproj
ios/TheoPlayerReactNative.xcworkspace
ios/Pods
Podfile.lock

!debug.keystore
